@import "vars.scss";


.document-driven-page {
	margin: 0 auto;
	font-size: 1.1rem;
	padding: 0 $content-padding;
	width: 100%;
	max-width: $max-content-width;
	font-family: 'Hind Madurai', sans-serif;
	font-weight: lighter;
	line-height: 1.4;

	@media only screen and (max-width: $breakpoint) {
		img {
			float: none !important;
			margin: 0 auto !important;
		}
	}

	img.icon {
		box-sizing: content-box;
		padding: .6ch;
		width: 2.5ch;
		height: 2.5ch;
		display: inline-block;
		vertical-align: middle;
		margin-right: .5ch;
	}

	h2,h3,h4 {
		line-height: 1;
		margin-top: 2.5rem;
		margin-bottom: 0;
		a {
			color: $text-color;
		}
	}

	a {
		color: $acc1-color;
		text-decoration: none;
	}

	h5 {
		color: $text-color-2;
		font-family: Inconsolata, sans-serif;
		font-weight: medium;
		margin: 0;

		&+h1 {
			margin-top: .5rem;
		}
	}

	hr {
		border: none;
		line-height: 0.1;
		margin-top: -1rem;
		&::before {
			font-size: 2rem;
			display: block;
			content: '-----';
			color: $text-color-2;
		}
	}
	ul {
		list-style: none;
		margin-left: 0;
		padding-left: 1rem;
		li::before {
			display: inline-block;
			content: "-";
			width: 1rem;
			margin-left: -1rem;
		}
	}
}
