// $bg-color: rgb(17, 18, 29);
$bg-color: rgb(11, 12, 20);
$acc1-color: #d8e9a8;
$acc2-color: #4e9f3d;

$text-color-2: #6b6b6b;
$text-color: #ddd;

$content-padding: 1rem;
$max-content-width: 700px;

$navbar-height: 4.5rem;

$breakpoint: 760px;
