$bg-color: #191A19;
$acc1-color: #D8E9A8;
$acc2-color: #4E9F3D;

$text-color-2: #6B6B6B;
$text-color: #ddd;

$content-padding: 1rem;
$max-content-width: 700px;

$navbar-height: 4.5rem;

$breakpoint: 760px;
